{% extends "base.html" %}
{% block content %}

<p>This website was created to support abolitionist #defundthepolice and #blacklivesmatter movements in the US. It was written in Python and Flask and is currently hosted on PythonAnywhere, a web hosting service for Python web apps. Please contact xcelspreadsheet at gmail dot com with issues or concerns. The source code for the website is hosted on <a href="https://github.com/xcelspreadsheet/oneclick">Github</a>.</p> <p>No form data is stored and no personal information is collected by this website. Pre-filled emails are routed directly to the user's device's default email client using <a href="https://css-tricks.com/snippets/html/mailto-links/">a web-standard "mailto:" link</a>. All pre-filled email information is stored within the generated URLs and read from these URLs when the page is loaded.
</p>

{% endblock %}