<!doctype html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{% block page_title %}One-Click Email Campaign{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">



  {% block css %}{% endblock %}

</head>

<body class="box">
<nav class="nav-menu">
      <div class="container">

        <a href="{{ url_for('home') }}" style="  text-decoration: none;"><div class="symbol">✉&#xFE0E;</div><h1 class="title"><b>ONE-CLICK EMAIL CAMPAIGN</b></h1></a>
        <ul class="breadcrumb">
  <li><a href="{{ url_for('home') }}">★&#xFE0E; Home</a></li>
  <li><a href="{{ url_for('displayAbout') }}">☎&#xFE0E; About</a></li>
</ul>
</nav>

<div class="{% block content_class %}container{% endblock content_class %}">

  <div class="content" role="main">
    {% block content %}{% endblock %}
  </div>

</div><!-- end container -->
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>